.documentation {
  width: 80%;
}

code {
  display: block;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

.menu {
  position: fixed;
  left: 0;
  top: 25px;
  font-size: 2em;
  line-height: 1em;
  font-weight: normal;
  li {
    list-style: none;
    a {
      color: black;
      &:hover {
        color: black;
        font-weight: bold;
      }
    }
  }
}

.endpoint {
  margin: 15px 0 30px 0;
  border: 1px dimgrey solid;
  color: black;
  font-weight: normal;
  &-uri {
    color: black;
    background-color: lightgray;
  }

  &-method {
    background-color: dimgrey;
    font-weight: bold;
    float: right;
    padding: 5px;
    &:after {
      clear: both;
    }
  }
  &-description {
    padding: 5px;
  }
}

//DEFAULT LARAVEL
html, body {
  background-color: #fff;
  color: darkgrey;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content-center {
  text-align: center;
}

.title {
  font-size: 84px;
}

.signature {
  font-size: 42px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.links > a:hover {
  color: black;
  text-decoration: underline;
}

.m-b-md {
  margin-bottom: 30px;
}
